# TAREA 5: EXPLORACIÓN DE DATOS_visualización

___EXERCICIO 1___

In [1]:
#importando librerias
import pandas as pd
import numpy as np


# importando csv
df = pd.read_csv('DelayedFlights.csv', sep=",", dayfirst=True)

# eliminando primera columna
df = df.drop('Unnamed: 0', 1)

#visualizando formato de las columnas y tamaño de la base
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            float64
 5   CRSDepTime         int64
 6   ArrTime            float64
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             float64
 20  TaxiOut            float64
 21  Cancelled          int64
 22  CancellationCode   object
 23  Diverted           int64
 24  CarrierDelay       float64
 25  WeatherDelay       float64
 26  NASDelay           float64
 27  SecurityDelay      float64
 28  LateAircraftDelay  float64
dtypes: float64(14), int64(10), object(5)
memory usage: 428.5+ MB

(1936758, 29)

In [2]:
# contenido de la base
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [3]:
#eliminando columnas no relevantes
df = df.drop(['TaxiIn','TaxiOut','Cancelled','CancellationCode','Diverted','WeatherDelay','NASDelay','SecurityDelay','LateAircraftDelay'], axis=1)

df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,CarrierDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,N428WN,96.0,90.0,76.0,14.0,8.0,IND,BWI,515,NaN
3,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,90.0,77.0,34.0,34.0,IND,BWI,515,2.0
4,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,101.0,115.0,87.0,11.0,25.0,IND,JAX,688,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,2008,12,13,6,1250.0,1220,1617.0,1552,DL,1621,N938DL,147.0,152.0,120.0,25.0,30.0,MSP,ATL,906,3.0
1936754,2008,12,13,6,657.0,600,904.0,749,DL,1631,N3743H,127.0,109.0,78.0,75.0,57.0,RIC,ATL,481,0.0
1936755,2008,12,13,6,1007.0,847,1149.0,1010,DL,1631,N909DA,162.0,143.0,122.0,99.0,80.0,ATL,IAH,689,1.0
1936756,2008,12,13,6,1251.0,1240,1446.0,1437,DL,1639,N646DL,115.0,117.0,89.0,9.0,11.0,IAD,ATL,533,NaN
1936757,2008,12,13,6,1110.0,1103,1413.0,1418,DL,1641,N908DL,123.0,135.0,104.0,-5.0,7.0,SAT,ATL,874,NaN

___EJERCICIO 2___

In [4]:
#Resumen estadistico
df.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,CarrierDelay
count,1936758.0,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.929648e+06,1.936758e+06,1.936758e+06,1.928371e+06,1.936560e+06,1.928371e+06,1.928371e+06,1.936758e+06,1.936758e+06,1.247488e+06
mean,2008.0,6.111106e+00,1.575347e+01,3.984827e+00,1.518534e+03,1.467473e+03,1.610141e+03,1.634225e+03,2.184263e+03,1.333059e+02,1.343027e+02,1.082771e+02,4.219988e+01,4.318518e+01,7.656862e+02,1.917940e+01
std,0.0,3.482546e+00,8.776272e+00,1.995966e+00,4.504853e+02,4.247668e+02,5.481781e+02,4.646347e+02,1.944702e+03,7.206007e+01,7.134144e+01,6.864261e+01,5.678472e+01,5.340250e+01,5.744797e+02,4.354621e+01
min,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.400000e+01,-2.500000e+01,0.000000e+00,-1.090000e+02,6.000000e+00,1.100000e+01,0.000000e+00
25%,2008.0,3.000000e+00,8.000000e+00,2.000000e+00,1.203000e+03,1.135000e+03,1.316000e+03,1.325000e+03,6.100000e+02,8.000000e+01,8.200000e+01,5.800000e+01,9.000000e+00,1.200000e+01,3.380000e+02,0.000000e+00
50%,2008.0,6.000000e+00,1.600000e+01,4.000000e+00,1.545000e+03,1.510000e+03,1.715000e+03,1.705000e+03,1.543000e+03,1.160000e+02,1.160000e+02,9.000000e+01,2.400000e+01,2.400000e+01,6.060000e+02,2.000000e+00
75%,2008.0,9.000000e+00,2.300000e+01,6.000000e+00,1.900000e+03,1.815000e+03,2.030000e+03,2.014000e+03,3.422000e+03,1.650000e+02,1.650000e+02,1.370000e+02,5.600000e+01,5.300000e+01,9.980000e+02,2.100000e+01
max,2008.0,1.200000e+01,3.100000e+01,7.000000e+00,2.400000e+03,2.359000e+03,2.400000e+03,2.400000e+03,9.742000e+03,1.114000e+03,6.600000e+02,1.091000e+03,2.461000e+03,2.467000e+03,4.962000e+03,2.436000e+03

In [5]:
#datos que faltan por columna
df.isnull().sum()

Year                      0
Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
CRSDepTime                0
ArrTime                7110
CRSArrTime                0
UniqueCarrier             0
FlightNum                 0
TailNum                   5
ActualElapsedTime      8387
CRSElapsedTime          198
AirTime                8387
ArrDelay               8387
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
CarrierDelay         689270
dtype: int64

In [6]:
#columna nuevas de velocidad media
df['velocidad_media']=round(df['Distance']/df['AirTime'],2)

df.groupby('UniqueCarrier')[['UniqueCarrier','velocidad_media']].head(5)

       UniqueCarrier  velocidad_media
0                 WN             6.98
1                 WN             7.17
2                 WN             6.78
3                 WN             6.69
4                 WN             7.91
...              ...              ...
172623            CO             7.28
172624            CO             6.52
172625            CO             8.67
172626            CO             7.20
172627            CO             7.26

[100 rows x 2 columns]

In [7]:
#columna nueva para ver si ha llegado tarde o no
df['retraso']=df['ArrDelay']>0

df.groupby('UniqueCarrier')[['UniqueCarrier','retraso']].head(5)

       UniqueCarrier  retraso
0                 WN    False
1                 WN     True
2                 WN     True
3                 WN     True
4                 WN     True
...              ...      ...
172623            CO     True
172624            CO     True
172625            CO     True
172626            CO     True
172627            CO    False

[100 rows x 2 columns]

In [8]:
#Aerolineas con más retrasos
df.groupby('UniqueCarrier').sum()['retraso'].sort_values(ascending=False).head(10)

UniqueCarrier
WN    324717
AA    172197
MQ    130647
UA    123989
OO    121942
DL    100923
XE     94313
CO     83646
US     83262
EV     75170
Name: retraso, dtype: int64

In [9]:
#Vuelos más largos
df.groupby('FlightNum').sum()['retraso'].sort_values(ascending=False).head(10)

FlightNum
50     1412
16     1351
40     1335
44     1274
15     1237
52     1226
75     1212
62     1203
321    1191
47     1173
Name: retraso, dtype: int64

In [10]:
#Vuelos con más retrasos
df.groupby('FlightNum').mean()['AirTime'].sort_values(ascending=False).head(10)

FlightNum
1       276.148364
73      264.589483
15      263.887295
181     252.943662
2       247.158487
83      241.319257
1273    235.576590
257     234.960227
17      230.003515
267     225.898246
Name: AirTime, dtype: float64

In [11]:
#exportando el nuevo data set

df.to_csv('DelayedFlightsv3.csv')

___VISUALIZACIONES DE TAREA 6___

<img src="n_variable_numerica.png">

<img src="n_vuelos_aerolinea.png">

<img src="retrasos_aerolinea.png">

<img src="tiempo_llega_x_salida.png">

<img src="3n_variables.png">

<img src="4n_variables.png">